{
displayStrings = (
H,
t,
tfm,
a,
d,
n,
G,
"ĞǦĜĠ",
"Ğ",
"Ğ",
A,
"̀À",
"",
"",
"Æ",
B,
C,
"/acutecomb.cap Ć",
"È",
"Ỳ",
"̀",
"̀AÀ",
D,
"Ð",
E,
"EĔ",
F,
I,
"Ì",
J,
K,
"Ħ",
"Ǧ",
"Ǧ",
"Ğ",
"Ĝ",
"Ġ",
"̂",
"̌ˇ̌",
"̌",
"/macroncomb.cap Ī",
"/circumflexcomb.cap Î",
"/brevecomb.case Ĭ",
"/dieresiscomb.case Ï",
"IÏ",
L,
"Ł",
M,
"/tildecomb.case Ã",
"A/tildecomb.case Ã",
N,
O,
"̋Ő",
"Ơ",
"Œ",
"Ŋ",
P,
"Þ",
Q,
R,
S,
T,
U,
"Ù",
"Ư",
"/cedillacomb.cap Ş",
"/ringcomb.cap Ů",
V,
W,
"WẀ",
X,
Y,
"Ḡ",
"Ģ",
Z,
"æ"
);
}
